@import "flexbox/variables/main.scss";
@import "flexbox/mixins/main.scss";
@import "flexbox/grid";
@import "flexbox/visibility";
@import "variables";
@import "mixins";
@import "reboot";

p {
	line-height: 1.3em;
}
.project-container {
	overflow: hidden;
	section {
		@include row();
		//@include row-fluid();
		@media #{$breakpoint-xs-only} {
			padding: $card-gutter/2;
		}
		.col {
			@include col("xs", 12);
			@include col("sm", 6);
			@include col("md", 4);
			.box {
				background: #fff;
				padding: $card-gutter;
				text-align: center;
				transition: transform 0.4s, opacity 0.4s ease-out;
				transform: scale(1.2) rotate(10deg) translateX(20px);
				opacity: 0;
				height: 100%;
				@media #{$breakpoint-xs-only} {
			    	font-size: 85%;
			    }
			    @media #{$breakpoint-sm-only} {
			    	font-size: 90%;
			    }
				img {
					width: 100%;
					height: auto;
				}
				h2 {
					font-family: 'Avenir W02', Helvetica, Arial, sans-serif;
					text-transform: uppercase;
					font-size: 1.875em;
					line-height: 1em;
					margin: 1em 0 0 0;
					color: $type-women-color;
				}
				p {
					@include avenir(400);
					font-size: 1.20em;
					line-height: 1.3em;
					margin: .5em 0 3em 0;
				}
				&.animate {
					opacity: 1;
					transform: scale(1) rotate(0deg) translateX(0);
				}
			}
		}
	}
	.map {
		width: 100%;
		height: 800px;
		background: #fff;
	}
}